langchain
langchain_community
langchain_anthropic
langchain_ollama
langchain_groq
langchain_huggingface
langchain_pinecone
langchain_tavily
langchain==0.0.350
langchain-core==0.1.0
sentence-transformers
# transformers>=4.27.0
transformers==4.41.0
# tokenizers==0.21.4
diffusers>=0.34.0,<0.35.0
datasets
tiktoken

# Vector stores & databases
pinecone-client
chromadb>=1.0.9
faiss-cpu

# Search / web tools
duckduckgo-search
ddgs
tavily-python
bs4
requests
jq
tqdm

# File & PDF handling
PyPDF2
pypdf
reportlab

# Streamlit for UI
streamlit

# Env management
python-dotenv
ipykernel

# Misc
cassio
openai
torch 
# torchvision 
# torchaudio
# accelerate 
# safetensors
langchain-groq 
langchain 
langchain-community 
langchain-text-splitters 
langchain-tavily 
beautifulsoup4 
requests 
python-dotenv 
faiss-cpu
