# Core LangChain
langchain>=1.0.0,<2.0.0
langchain_community>=0.0.38
langchain-anthropic>=1.0.0,<2.0.0
langchain-text-splitters>=0.0.10
langchain-ollama
langchain-groq
langchain-huggingface
langchain-pinecone
langchain-tavily

# AI & NLP
sentence-transformers
transformers==4.41.0
diffusers>=0.34.0,<0.35.0
datasets
tiktoken

# Vector stores
pinecone-client
chromadb>=1.0.9
faiss-cpu

# Search/Web
duckduckgo-search
ddgs
tavily-python
bs4
requests
jq
tqdm

# PDF/File handling
PyPDF2
pypdf
reportlab

# Streamlit
streamlit

# Env
python-dotenv
ipykernel

# Misc
cassio
openai
torch
